.idea/*
downloaded_files/*
auth_state.json
auth_state_pretty.json
cdn-script.js
e.txt
example.png
log.log
open-page.html
playlist-fetch-res.json
responses.json
songs.txt
songs-fetch-res.json
uri-reqs.json
urls.txt
traffic_data.json
playwright_autogen.py
__pycache__/*
